---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="max-w-4xl mx-auto mt-32">
    <h1 class="text-5xl mb-2">Blog</h1>
    <p class="mb-10">
      It is still a work in progress but u can look around and stay if u want
      idk
    </p>

    <h3>Blog posts</h3>
    <a href="/blog/posts/hello-world">Hello world</a>
  </div>
</Layout>
