---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Hey there, welcome to my blog</h1>
  <p>
    It is still a work in progress but u can look around and stay if u want idk
  </p>

  <h3>Blog posts</h3>
  <a href="/blog/posts/hello-world">Hello world</a>
</Layout>
